transformers==4.31
accelerate==0.23
git+https://github.com/huggingface/peft
evaluate
scikit-learn
scipy
typing_extensions
einops
deepspeed
datasets
sentencepiece
setuptools
rouge-score
nltk
openai
tensorboard
tensorboardX
bitsandbytes
